.date_info_continer__div {
  margin: 1.5em 0 1em 1.2em;
}

.date_info__div{
  display: flex;
  width: 200px;
  margin: 0.5em 0 0.5em 2em;
  color: #FFA633;
}

.date_info__div h4{
  margin-top: 0.4em;
  margin-left: 5px;
  margin-right: 5px;
}
.date_info__div img{
  width: 1.8em;
  height: 1.8em;
  margin-right: 1.5em;
}
.booking_form{
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0 2em 1em 1em;
  color: #3B5A9D;
  font-size: 20px;
}
.booking_form p{
  text-align: center;
  margin: 0 1em 0 1em;
}
.label_line{
  margin: 0.4em 1.2em 0.4em 1.2em;
  border-top:#4FB2AA solid 3px ;
  align-items: center;
}
.booking_form input{
  margin: 1.4em 0 0.3em 2.3em;
  font-size: 18px;
  color: #3B5A9D;
}
.booking_form input[type=text]::placeholder{
  color: rgba(79, 178, 170, 0.336);
}
.remind_me_input__div input{
  margin-right: 0.7em;
}
.remind_me_input__div{
  display: flex;
  align-self: flex-start;
}
.buttons_continer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout p :hover {
  opacity: 0.8;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}
.back_button {
  width: 150px;
  height: 43px;
  font-size: 25px;
  border-radius: 10px;
  color: #3b5a9d;
  border: #ffa633 solid 1px;
  margin: 1.5em 0em 1em 0.3em;
}
.book_button {
  color: white;
  background-color: #3b5a9d;
  width: 150px;
  height: 43px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  margin: 1.5em 0em 1em 0.2em;
}
.message {
  color: #ffa633;
  font-size: 18px;
}

@media only screen and (min-width: 600px) {
  .booking_form {
    margin: 0 4em 1em 4em;
  }
  .booking_form input[type="text"] {
    width: 400px;
    margin-left: 4em;
  }
  .booking_form p {
    margin: 0.5em 0 0 2em;
  }
  .label_line {
    margin: 1.4em 2.5em 1.4em 2.5em;
  }
  .date_info_continer__div {
    margin-left: 10em;
  }
  .radio_input {
    margin-left: 2em;
    margin-top: 2em;
  }
  .logout {
    margin-right: 9vw;
  }  

}
@media only screen and (min-width: 760px) {
    .logout {
        margin-right: 8vw;
      }  
    }    


@media only screen and (min-width: 800px) {
  .booking_form input[type="text"] {
    width: 500px;
  }
  .booking_form p {
    text-align: left;
    margin-left: 4em;
  }
  .booking_form {
    margin: 0 8em 1em 8em;
    padding: 0 2em 0 2em;
  }
  .buttons_continer {
    margin: 0 3em 0 3em;
  }
  .date_info_continer__div {
    margin-left: 16em;
  }
  .logout {
    margin-right: 5vw;
  }  


}
