body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 10em;
}
.profile{
    width: 3.8em;
    height: 3.8em;
    margin: 3em 3em 2.5em 0;
    display: flex;
    align-self: center;
}
.logo{
    margin: 0;
    width: 40%;
    height: 90%;
}

@media only screen and (max-width: 700px){
    .header{
        height: 6em;
    }
    .profile{
        width: 2.7em;
        height: 2.7em;
        margin: 3em 1.5em 1.5em 0;
    }
    .logo{
        width: 50%;
        height: 130%;
    }

}

@media only screen and (max-width:450px){
    .header{
        width: 100%;
        height: 4em;
    }
    .profile{
        width: 2.2em;
        height: 2.2em;
        margin: 1.5em 1em 0.5em 0;
    }
    .logo{
        width: 50%;
        height: 130%;
    }
}