* {
  margin: 0;
  padding: 0;
}

.container_nav{
  margin: -15px 5%;
}

.container__div_nav {
  font-size: 24px;
  padding: 1%;
  margin: 1%;
  justify-content: center;

}

.container__div__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px 5px;
  list-style-type: none;
}
.container__div_nav img{
  height: 10px;
  width: 90%;
  margin-top: 0;
}
.container__div__list__item {
  font-family: s;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 2% 9%;
}

.link {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: none;
  color: #3b5a9d;
  border: none;
  font-size: 22px;
  background: none;
}
.link:hover,.link:focus-within,
.link:active {
  color: #4fb2aa;
  border-bottom: 2px solid #ffa633;
  outline: none;
}

@media only screen and (min-width: 885px) {
  .link {
    font-size: 28px;
  }
 }
 @media only screen and (max-width: 450px) {
  .link {
    font-size: 22px;
  }
  .container__div_nav img{
    height: 5px;
  }
 }