.eventinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    margin-top: 30px;
}


.eventinfo__title {
color: #FFA633;
font-size: 18px;
margin-bottom: -8px;
}
.eventinfo__details{
 margin-top: 5px;
 margin-bottom: -90;
font-size: small;
color: teal;
}
.event_info{
    display: flex;
    align-content: center;
    width: 300px;
    height: 280px;
    box-shadow: 0 16px 8px 0 rgb(243, 242, 240);
    transition: 0.3s;
    border-radius: 10px;
    margin-top: 20px;
}

.event_info:hover {
    box-shadow: 0 8px 16px 0 rgba(247, 189, 103, 0.966);
  }
  .event_info img{
      display: flex;
      width: 85px;
      height: 280px;
      margin-left: -10px;
  }

.event_info p {
    color: teal;
    font-size: small;
    display: flex;
    justify-content: start;
}
.event_info h3 {
    color:#3B5A9D ;
    font-size: small;
    display: flex;
    justify-content: start;
    margin-left: 5px;
}

.event_info__description{
    margin: 25px 2px 0px -27px;
}


.event_info__author{
    display: flex;
    margin: 20px 0px 0px -15px;
    
}
.event_info__date{
    margin: 18px 0px 0px -15px;
}
.event_info__room{
    display: flex;
    margin: 20px 0px 0px -15px;  
}
.event_info__note{
    display: flex;
    margin: 20px 0px 0px -15px ;
}

.eventinfo_button{
    margin-top: 5px;
    display: flex;
    
}

.eventinfo_button__back{
    width: 80px;
    height: 30px;
    border: 1px #FFA633 solid ;
    border-radius: 10px;
    background-color: white;
    color: #3B5A9D;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 15px;
    margin: 2em 2em 2em 2em;
}
.eventinfo_button__remindme{
    width: 80px;
    height: 30px;
    border: 1px solid ;
    border-radius: 10px;
    background-color: #3B5A9D;
    color: white;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 12px;
    margin: 2em 2em 2em 2em;
}

@media only screen and (min-width: 885px) {
    .eventinfo{
        margin-top: 20px;
    }
    .eventinfo__title {
        font-size: 22px;
        margin-top: 30px;
        }
        .eventinfo__details{
           font-size: 14.5px;
           }
        .event_info{
            width: 430px;
            height: 330px;
        }

        .event_info p {
            font-size: 18px;
        }
        .event_info h3 {
            font-size: 18px;
        }
        .event_info__date{
            margin-top: 30px;
        }
        .eventinfo_button{
            margin-top: 10px;   
        }
        
        .eventinfo_button__back{
            width: 120px;
            height: 50px; 
            font-size: 22px;
        }  
        .eventinfo_button__remindme{
            width: 120px;
            height: 50px;
            font-size: 18px;
        }
        .event_info img{
            width: 100px;
            height: 330px;
        }
        .event_info__description{
            width: 300px;
        }
}

