
.login-form h1 {
  color: #ffa633;
  margin: 8px 0;
}

.login-form p{
  color: red;
  }

.login-form {
  margin: 10vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

input[type="email"],
input[type="password"] {
  padding: 12px 14vw 12px 5px;
  margin: 8px;
  display: inline-block;
  border: none;
  border-bottom: 2px solid rgba(79, 178, 170, 0.4);
}
input::placeholder {
  color: rgba(79, 178, 170, 0.4);
}

.login-form__login__btn {
  background-color: #3b5a9d;
  color: white;
  padding: 1.2vh 4vh;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
}

.login-form__back__btn {
  background-color: rgb(255, 255, 255);
  color: rgb(4, 11, 105);
  padding: 1.2vh 4vh;
  margin: 8px 0;
  border-radius: 10px;
  border-color: #ffa633;
}

button:hover {
  opacity: 0.8;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 700px) {
  input[type="email"],
  input[type="password"] {
    padding: 12px 10em 12px 5px;
  }
}
