.big_continer{
    display: flex;
    flex-direction: column;
}

.user_profile{
    margin: 1em 0 0 3em ;
    display: flex;
    align-self: start;
}
.user_profile img{
    height: 3.2em;
    width: 3.2em;
    margin: 0em 2em 0.5em 0.5em;
}
.user_profile h2{
    margin-top: 0.8em;
    color: #4FB2AA;
}
.continer_div{
    margin: 0.5em 1em 1em 1em;
}

.events{
    color: #C4C4C4;
    margin: 2.5em 0 0.7em 2.9em ;
}
.event_card{
    border: #3B5A9D 1px solid;
    border-radius: 10px;
    padding: 0.2em 1em 0.2em 1.5em;
    display: flex;
    justify-content: space-between;
    margin: 1.3em 3em 1.3em 2em;
}
.title{
    width: 60%;
    height: 100%;
}
.title h3{
    font-size: large;
    color: #FFA633;
}
.title p{
    font-size: medium;
    color: #3B5A9D;
}
.event_option img{
    height: 1.7em;
    width: 1.7em;
    margin: 1.7em 0.5em 0em 3em;
}
.event_option{
    display: flex;
    align-items: center;
    height: 100%;
}
.back_button{
    width: 125px;
    height: 40px;
    border: 1px #FFA633 solid ;
    border-radius: 10px;
    background-color: white;
    color: #3B5A9D;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 22px;
    margin: 2em 2em 2em 2em;
}

@media only screen and (max-width:650px){
    .user_profile img{
        width: 2.7em;
        height: 2.7em;
    }
    .user_profile h2{
        margin-top: 0.8em;
        font-size: larger;
    }
    .user_profile{
        margin: 1.5em 0 0 1em;
    }
    .title h3{
        font-size: medium;
    }
    .title p{
        font-size: small;
        margin: 0;
    }
    .event_option img{
        height: 1em;
        width: 1em;
        margin: 1.5em 0.5em 1em 1.5em;
    }
}

@media only screen and (max-width:450px){
    .user_profile img{
        width: 2em;
        height: 2em;
        margin-right: 1.2em;
    }
    .user_profile h2{
        margin-top: 0.5em;
        font-size: large;
    }
    .event_option img{
        margin: 1em 0.3em 1em 0.7em;
    }
    .event_option{
        margin-top: 0.5em;
        margin-right: 0.6em;
    }
    .event_card{
        padding: 0.5em 0.2em 0.5em 1em;
        margin: 1.3em 1em 1.3em 1em;
    }
    .events{
        margin: 2em 0 0.7em 1.6em;
    }
    .title h3{
        font-size: smaller;
    }
    
}
