
.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}


.SearchEvent{
  margin-top: 50px;
   display: flex;
   justify-content: center;
   
}

input[type=text]{
    width: 220px;
    height: 30px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #4FB2AA ;
}

input::placeholder{
    color: #C4C4C4;
    font-size: 24px;
}
.Search{
    margin-top: 15px;
}
.Search_logo{
    margin-left: -50px;
    width: 50px;
    height: 19px;
    margin-top: -3px;  
}

@media only screen and (min-width: 600px) {
  input[type=text]{
    width: 300px;
  }
}

@media only screen and (min-width: 885px) {
 input[type=text]{
  width: 400px;
  }
}

